.sortby {
  float: right;
}

.sortby .ui.selection.dropdown {
  background: transparent;
  border: none;
  color: #2185d0;
}

.sortby .ui.selection.active.dropdown,
.sortby .ui.selection.active.dropdown:hover {
  box-shadow: none;
}

.ui.dividing.header.comment-header {
  margin-top: 5px;
}

.ui.disabled.selection.dropdown {
  padding: 5px 0 0 14px;
}

.ui.form {
  margin: 15px 0 0 15px;
}

.ui.comments .ui.form {
  margin: 0;
}
